.PrescriptionInfo h2{
    margin-top: 1em;
}

.personInfo {
    display: flex;
}

.personInfo div {
    flex: 50%;
}

.drugPrescriptions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 15px;
}

.drugPrescriptions .drugPrescription {
    background-color: var(--turquoise40);
    padding: 15px;
    flex-basis: calc(50% - 7.5px);
    flex-grow: 0;
    flex-shrink: 0;
}

.useButton {
    background-color: var(--turquoise);
    font-size: 1em;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.useButton:active {
    background-color: var(--turquoise70);
}