.PrescriptionInfo h2{
    margin-top: 1em;
}

.personInfo {
    display: flex;
}

.personInfo div {
    flex: 50%;
}

.drugPrescriptions {
    display: flex;
    flex-direction: column;
}

.drugPrescriptions h2 {
    margin-bottom: 15px;
}

.drugPrescriptions .drugPrescription {
    background-color: var(--turquoise40);
    width: 50%;
    margin: 0 auto 15px;
    padding: 15px;
}

.useButton {
    background-color: var(--turquoise);
    color: #fff;
    border: var(--turquoise20);
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}

.useButton {
    background-color: var(--turquoise70);
}